Task2_Workflow_Yogesh_Lokhande.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8e556b56-c521-40f8-a9c1-376750ab9e8b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=stars:>10000&sort=stars&order=desc",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "f0c26437-6673-4854-88b1-945b75c6c3e7",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Grab the array of items from the GitHub network response\nconst repos = $input.item.json.items || [];\n\n// Slice it down to keep only the first 5 items\nconst topFive = repos.slice(0, 5);\n\n// Turn them into clean, simple pieces for the next steps\nreturn topFive.map(repo => {\n  return {\n    json: {\n      name: repo.name,\n      owner: repo.owner.login,\n      stars: repo.stargazers_count,\n      description: repo.description,\n      url: repo.html_url\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "cba40f3c-9d1c-42f8-b973-84a7f82b14c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.name }}/issues",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "9419ba41-ef26-4178-bc61-aae2c921b7f7",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d02482fc-505b-49c9-85ae-43193737dfcf",
              "leftValue": "={{ $json.stars }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "5152a160-876a-4205-ab26-b1339ba08046",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99876ca6-f98e-4e1b-baf6-b5aecc2b068e",
  "meta": {
    "instanceId": "a71f415d7b46a7c7ba7f4e7dca2ab333296f54a00b3d25646661235edfa474a8"
  },
  "id": "iUhrMqwp8nOilQ0a",
  "tags": []
}